<div id="simple-modal">
    <div class="simple-modal-content">

        <b>Oled kindel?</b>

        <br><br>

        <a href ng-click="ok()" id="simple-modal-ok">Jah</a> |
        <a href ng-click="cancel()" id="simple-modal-cancel">Ei</a>

    </div>
</div>

