<ul id="menu">
  <li><a routerLink="/search" id="menu-search">Nimekiri</a></li>
   <li><a routerLink="/new" id="menu-new">Lisamine</a></li>
</ul>

<br><br><br>
<router-outlet></router-outlet>
<br><br><br>





