Name: <input [(ngModel)] = "newContTitle" id="name-input" class="ng-pristine ng-untouched ng-valid ng-not-empty">
Phone:<input id="phone-input" [(ngModel)] = "newContValue" class="ng-pristine ng-untouched ng-valid ng-not-empty">
<button (click)="AddNewCont()" id="save-link">Add</button>