
<ul id="menu">
    <li><a href="#/search" id="menu-search">Otsi</a></li>
    <li><a href="#/new" id="menu-new">Lisa</a></li>
    <li><a href="#/search">Back</a></li>
</ul>
<br><br>

    Name: &nbsp;<input id="name-input" ng-model="vm.newName" class="ng-pristine ng-untouched ng-valid ng-not-empty">
    <br><br>
    Phone: <input id="phone-input" ng-model="vm.newPhone"  class="ng-pristine ng-untouched ng-valid ng-not-empty">
    <br><br>
    <a href id="save-link" ng-click="vm.saveNew()">Save contact</a>


