<button ng-click="vm.back()">Back</button>

<ul id="menu">
    <li ng-click="vm.back()">Back</li>
    <li><a href="#/search" id="menu-search">Otsi</a></li>
    <li><a href="#/new" id="menu-new">Lisa</a></li>
</ul>
<br><br>
Name: &nbsp;<input ng-model = "vm.item.name" id="name-input">
<br><br>
Phone: <input ng-model = "vm.item.phone" id="phone-input">
<br><br>
<a href ng-click="vm.editContact(item._id)" id="save-link">Save changes</a>
