<ul id="menu">
    <li><a href="#/search" id="menu-search">Otsi</a></li>
    <li><a href="#/new" id="menu-new">Lisa</a></li>
</ul>

   <!-- <button ng-click="vm.addCont()">Add contact</button> -->
    <br><br>
    <form class="form-inline">
        <input id="search-string" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" ng-model="query" type="text"
               placeholder="Find" autofocus>
    </form>
<br>

    <table class="list-table ng-scope">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat = "item in vm.contacts | filter : query" ng-class="{ selected:item.selected }">
            <td><a href="#/edit/{{item._id}}" class="edit-link ng-binding">{{item.name}}</a></td>
            <td class="ng-binding">{{item.phone}}</td>
            <td><a href ng-click="vm.deleteContact(item._id)" class="delete-link">Delete</a></td>
            <td><input type="checkbox" ng-model="item.selected" class="ng-pristine ng-untouched ng-valid ng-empty"></td>
        </tr>
        </tbody>


    </table>


