﻿<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="lib/jquery/dist/jquery.js"></script>
    <script asp-src-include="lib/jquery-validation/dist/*.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/dist/*.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-primary pull-right" asp-action="Logout" asp-controller="Account">Log Out</a>
        <h4>@ViewBag.Title</h4>

    </div>
    
    <div class="panel-body">
        @if(TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    @RenderBody()
    </div>
</body>


</html>