﻿@model IEnumerable<Product>

@{ 
    ViewBag.Title = "All Products";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th>Description</th>
        <th class="text-right">Price</th>
        <th style="text-align :center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td class="text-right">@item.ProductId</td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td class="text-right">@item.Price.ToString("c")</td>
        <td class="text-center">
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                   asp-route-productId="@item.ProductId">Edit</a>

                <input type="hidden" name="ProductId" value="@item.ProductId" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>