﻿@model Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quanity) " item(s)"
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-default btn-sm navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </a>




</div>