<form class="form-inline">
    <input  id="search-string" [(ngModel)]="term" name="first" placeholder="Find" autofocus>
</form>
<br>

<table class="list-table ng-scope" id="myTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

<tr *ngFor="let contact of contacts | FilterPipe:term" [class]="contact.selected ? 'selected' : ''">
    <td> <a routerLink="/edit/{{ contact._id }}" class="edit-link">{{contact.name}} </a> </td>
    <td> {{contact.value}} </td>
    <td><a href (click)="deleteContact(contact._id)" class="delete-link">Kustuta</a></td>
    <input type="checkbox" [(ngModel)]="contact.selected"/>
</tr>
    </tbody>
</table>

<br><br>
<a href (click)="deleteSelected()" id="delete-all-link" style="float: right">Kustuta märgistatud</a>
