Name: &nbsp;<input id="name-input" [(ngModel)]="contactName">
<br><br>
Phone: <input id="phone-input" [(ngModel)]="contactValue">
<br><br>
<a href (click)="saveChanges()" id="save-link">Save changes</a>